section-comments {
    width: 100%;
    min-height: 320px;
}

.comments-content{
    display: flex;
    flex-direction: column;
}
.comments-content__top,.comments-content__middle,.comments-content__bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.comments-content__top{
    height: 80px;
}
.comments-content__top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 30px;
    font-family: "ptSans";
    font-weight: bold;
}
.comments-contentent__top-about{
    display: flex;
    justify-content: center;
    width: 100%;
}
.comments-content__top-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.comments-content__top-link {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    
}
.overflow{
    display: none;
	position: fixed;
	// z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.comments-content__selfs-link{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: "ptSans";
    text-decoration: none;
    cursor: pointer;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 30vh;
    top:0;
    left:0;
    display: none;
    // z-index:100;
   
}

h2.review{
    font-size: 20px;
    width: 70%;
    font-family: 'Playfair Display';
    color: #fff;
    
}


.form-row {margin-bottom: 15px;}
.form-row input[type="text"], 
.form-row input[type="email"], 
.form-row textarea {
  width: 100%;
  padding: 0 10px;

  border-width: 0;
  outline: none;
  background: #fff;
  background-size: 8px 35px;
  font-family: 'Playfair Display';
  color: #222;
  border: 1px solid black;
}
.form-row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}
.form-row input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  background: #fff;
  border-width: 0;
  cursor: pointer; 
  outline: none;
  font-family: 'Playfair Display';
  font-size: 13px;
  letter-spacing: 1px;
  color: #222;
  text-transform: uppercase;
  transition: 1s cubic-bezier(.165, .84, .44, 1);
}
.form-row input[type=submit]:hover {background: #fff;}



.pop-up{
    position: absolute;
    height: 430px;
    width: 265px;
    left: 115%;
    bottom:-50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
     max-width: 350px;
    padding: 20px;
    background: #222;
    border: 2px solid black;
    font-family: 'Playfair Display';
    color: #605756;
    z-index:2;
}



.close-popup{
    position: absolute;
    top:15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}



.close-popup:before{
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top:11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup::after{
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top:11px;
    left: -4px;
    transform: rotate(45deg);
}






// .comments-content__middle-slider{
//     display: flex;
//     justify-content: space-between;
  
//     width: 100%;
// }
.slider__left-button{
    justify-content: center;
    align-items: center;    
    display: flex !important;
    width: 40px;
    border:1px solid gray;
}
.left-button__triangle,{
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-right: 17px solid #000;
    border-bottom: 10px solid transparent;
}
.slider__img{
    width: 150px;
    height: 100px;
    
}
.slider__img-barker{
    width: 100%;
    height: 100%;
    background-image: url(../img/barker.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.slider__description{
    display: flex;
    width: 77%;
    font-family: "ptSans";
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comments-content__about-title {
    font-size: 40px;
    font-weight: bold;
}
.slider__right-button{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    border:1px solid gray;
}
.right-button__triangle{
    width: 0; height: 0;
    border-top: 10px solid transparent;
    border-left: 17px solid #000;
    border-bottom: 10px solid transparent;
}
.slider__description-content{
    width: 60%;
    
}
.slider-content__middle{
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.slider-img__direction-contain{
    width: 680px;
    display: flex;
    height: 100px;
    
    
}

.slider-img__description{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100px;
}
.comments-content__bottom-switch{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.comments-bottom__switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100%;
}
.bottom-switch__left,.bottom-switch__middle,.bottom-switch__right {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg) scale(1.42);
    background: #fff;
    border: 1px solid black;
}
.bottom-switch__left:hover,.bottom-switch__middle:hover,.bottom-switch__right:hover{
    background: #000;
}


    @font-face {
      font-family: "ptSans";
      src: url(../fonts/pt-sans.ttf);
  }

  
  