body {
    padding: 0;
    margin: 0;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #f8f5f2;
    // display: grid;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows:70px 1120px 420px 390px;
    // grid-template-areas: 
    // "header"
    // "content"
    // "news"
    // "comments"
    // "footer";
}

.container {
   position: relative;
    margin: 0 auto;
    max-width: 1170px;
}

@import 'libs.scss';
@import 'index/header.scss';
@import 'index/content.scss';
@import 'index/news.scss';
@import 'index/comments.scss';
@import 'index/footer.scss';
@import 'preloader.scss';
@import 'form/form-content.scss';
@import 'form/section-selection.scss';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|PT+Sans:700)');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&amp;subset=cyrillic)');
@import 'photo/photo-content.scss';
@import 'media/media-index.scss';
@import 'media/media-form.scss';
@import 'media/media-photo.scss';



