body {
    padding: 0;
    margin: 0;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    // display: grid;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows:70px 1120px 420px 390px;
    // grid-template-areas: 
    // "header"
    // "content"
    // "news"
    // "comments"
    // "footer";
}

.container {
   position: relative;
    margin: 0 auto;
    max-width: 1170px;
}

@import 'libs.scss';
@import 'header.scss';
@import 'content.scss';
@import 'news.scss';
@import 'comments.scss';
@import 'footer.scss';
@import 'preloader.scss';
@import 'media.scss';



