header {
    background: #000;
    min-width: 100%;
    min-height: 70px;
}
nav{
    min-height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header__list, {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
     outline:0;
    // background-image:url(../img/login.png);
    
}

.header-nav__log{
    display: flex;
    justify-content: space-around;
    width: 200px;
    background: url(../img/login.png) no-repeat 0 4px;
    background-position-x: 50px;
    height: 30px;
}


li.header-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    height: 4%;
    display: block;
    font-family: 'PT Sans', sans-serif;
    
    
    
}

li.header-nav:hover,.header-nav__log :hover,{
    margin-top: -1px;
    border-bottom: 1px solid orange;
}
.header-nav__log .exit {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.touch-menu{
    display: none;
    border: medium solid transparent;
    width: 30px;
    height: 30px;
    background: #fff;
    position: relative;
    border-radius: 50%;
    
}

.touch-menu span,
.touch-menu span::before,
.touch-menu span::after {
    position: absolute;
    
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    width: 20px;
    height: 2px;
    background: #222;
}

.touch-menu span::before,
.touch-menu span::after {
    content: '';
    display: block;
    transition: 0.1s;
}



// .touch-menu_active span::before {
//     width: 10px;
//     transform: rotate(35deg);
//     transform-origin: right bottom;
// }
// .touch-menu_active span::after {
//     width: 10px;
//     transform: rotate(-35deg);
//     // transform-origin: right top;
// }
.touch-menu span::before{
    transform: translateY(-5px);
}

.touch-menu span::after {
    transform: translateY(5px);
}