footer
            .container
              .footer-content
                .footer-content__main
                  .footer-content__left
                    .footer-content__left-contain
                      p.footer-content__left-name БАРБЕРШОП БОРОДИНСКИЙ
                      .footer-content__left-info
                        p.footer-content__left-adress г.Санкт-Петербург, ул.Большая Конюшенная 19/8
                        a.footer-content__left-contact(href='#') Тел.:+7(812) 555-66-66
                  .footer-content__middle
                    .footer-content__middle-contain
                      .footer-content__p
                        p.footer-content__middle-title Давайте дружить!
                      .footer-content__middle-icons
                        ul.icons__list
                            li.icons-vk
                              a.vk(href='https://vk.com') 
                            li.icons-fb
                              a.fb(href='https://www.facebook.com') 
                            li.icons-inst
                              a.inst(href='https://www.instagram.com/') 
                  
                  
                  .footer-content__right
                    .footer-content__right-contain
                      .footer-right__containt-position
                        p.footer-content__right-developed Разработано:
                        .footer-content__right-border
                          a.footer-content__right-organization(href='#') HTML ACADEMY