header 
    .container
        .menu
            a.touch-menu(href='#')
                span.line
        nav
            ul.header__list
                li.header-nav
                    a.main(href='#') Главная
                li.header-nav
                    a.works(href='#') Наши работы
                li.header-nav
                    a.fill(href='#') Записаться
                li.header-nav
                    a.contacts(href='#') Контакты
                li.header-nav
                    a.html(href='#') HTML ACADEMY
                li.header-nav__log
                    a.exit(href='#') Вход      
                