html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    
    link(rel="stylesheet", href="static/css/main.css")
    
    block title
       
  body
      .wrapper
      
          header 
            .container
                .menu
                  a.touch-menu(href='#')
                    span.line
                nav
                  ul.header__list
                    li.header-nav
                      a.main(href='#') Главная
                    li.header-nav
                      a.works(href='#') Наши работы
                    li.header-nav
                      a.fill(href='#') Записаться
                    li.header-nav
                      a.contacts(href='#') Контакты
                    li.header-nav
                      a.html(href='#') HTML ACADEMY
                    li.header-nav__log
                      a.exit(href='#') Вход
                  
              
              

          content
            .content-piscture
              .container
                  .logo-position
                    .logo
              .main-content
                .container
                  .main-content__all-parts
                    .main-content__parts
                      .main-content__top
                        .main-content__top-left
                          .main__haircut__block
                            h1.main__haircut Стрижка у нас это выгодно!
                          .main__data-block
                            p.main__man-statics Мужская стрижка требует точного подхода.Обратимся к статистике:
                            .main__false-position
                              p.main__data-false *-приведенные данные ложь
                        
                        .main-content__top-middle
                          ul.main-content__top-middle
                            li.main-content__top-position
                              .main-cost
                                h1.main__number 1 500 *
                                p.main__text  рублей вложений

                            li.main-content__top-position
                              .main-counthair
                                h1.main__number 90 000
                                p.main__text Постриженнных волос
                        ul.main-content__top-right
                          li.main-content__top-position 
                            .main-time
                              h1.main__number 7 200
                              p.main__text секунд времени мастера
                          li.main-content__top-position
                            .main-likes
                              h1.main__number 500 000 *
                              p.main__text лайков и комплиментов
                      ul.main-content__bottom
                        li.main-content__bottom-left
                          .main-logo__fast
                            .fast-pict
                          .logo-fast__title
                            h1.main-title__logo Быстро
                          .main-text__description-logo
                            p.main-description__logo Мы делаем свою работу быстро!Два часа пролетят незаметно и вы - счастливый обладатель стильной стрижки-минутки

                        li.main-content__bottom-middle
                          .main-logo__cool
                            .cool-pict
                          .logo-cool__title  
                            h1.main-title__logo Круто
                          .main-text__description-logo 
                            p.main-description__logo Забудьте,как вы стригл.Мы сделаем из вас звезду футбол.Во всяком случае внешне.

                        li.main-content__bottom-right
                          .main-logo__expensive
                            .expensive-pict
                          .logo-expensive__title
                            h1.main-title__logo Дорого
                          .main-text__description-logo
                            p.main-description__logo Наши мастера - профессионалы своего дела и не могут сто.К тому же,разве цена не даёт определённый статус?
                            
          section-news
            .news-content__top 
                .news-content__top-left
                .news-content__top-right

            .container
                
                .news-content__middle
                  .news-content__middle-left
                    .new-content__title-contain
                      h1.news-content__title Новости и акции
                  .news-content__middle-right
                    .news-content__show-link 
                      a.news-link__show(href='#') Показать все
                ul.news-content__bottom
                  li.news-content__bottom-left
                      .news-content__left
                        .news-calendar__section
                          .news-content__calendar-one
                            p.news-calendar__one-number 29
                            p.news-calendar__month Сент
                          .news-calendar-one__triangle
                        p.main-text__black Нам наконец завезли Ягермайстер! Теперь вы можете пропустить стаканчик во врем.
                  li.news-content__bottom-middle
                      .news-content__center
                        .news-calendar__section
                          .news-content__calendar-two
                            p.news-calendar__second-number 19
                            p.news-calendar__month Сент
                          .news-calendar-two__triangle
                        p.main-text__black В нашей команде пополнение, Борис "Бритва" Стригунец, пополнил наши стройные ряды. Спешите записаться!
                  li.news-content__bottom-right
                      .news-content__right
                        .news-calendar__section
                          .news-content__calendar-three
                            p.news-calendar__third-number 29
                            p.news-calendar__month Сент
                          .news-calendar-three__triangle
                        p.main-text__black Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!

          section-comments
            .container
              .comments-content
                .comments-content__top
                  .comments-content__top-left
                    .comments-contentent__top-about
                      h1.comments-content__about-title Отзывы о нас
                  .comments-content__top-right
                    .comments-content__top-link  
                      span.comments-content__selfs-link Оставить свой
                    .overlay
                      .pop-up
                            h2.review Оставьте отзыв о нашем барбершопе:
                            form.postcard(action='')
                              .form-row
                                label(for='name') Ваше имя
                                input#name(type='text', required='')
                              .form-row
                                label(for='email') Ваш Email
                                input#email(type='email', required='')
                              .form-row
                                label(for='message') Ваше сообщение
                                textarea#message(rows='5', required='')
                              .form-row
                                input(type='submit', value='Отправить сообщение') 
                            .close-popup
                              .js-close__compaign  



                .comments-content__middle
                    .slider__left-button
                      .left-button__triangle
                    .slider-content__middle
                      .slider-img__description
                        .slider-img__direction-contain
                          .slider__img
                            .slider__img-barker
                          .slider__description
                            .slider__description-content
                              p.slider__description-name Трэвис Баркер
                                p.slider__description-gratitude Спасибо за лысину!Был проездом в Москве,заскочил побриться, чтобы было видно новую татуировку!
                                                    .slider-content__middle
                      .slider-img__description
                        .slider-img__direction-contain
                          .slider__img
                            .slider__img-barker
                          .slider__description
                            .slider__description-content
                              p.slider__description-name Трэвис Баркер
                                p.slider__description-gratitude Спасибо за лысину!Был проездом в Москве,заскочил побриться, чтобы было видно новую татуировку!
                      .slider-img__description
                        .slider-img__direction-contain
                          .slider__img
                            .slider__img-barker
                          .slider__description
                            .slider__description-content
                              p.slider__description-name Трэвис Баркер
                                p.slider__description-gratitude Спасибо за лысину!Был проездом в Москве,заскочил побриться, чтобы было видно новую татуировку!
                    .slider__right-button
                        .right-button__triangle
                .comments-content__bottom
                  .comments-content__bottom-switch
                    .comments-bottom__switch
                      .bottom-switch__left
                      .bottom-switch__middle
                      .bottom-switch__right
          footer
            .container
              .footer-content
                .footer-content__main
                  .footer-content__left
                    .footer-content__left-contain
                      p.footer-content__left-name БАРБЕРШОП БОРОДИНСКИЙ
                      .footer-content__left-info
                        p.footer-content__left-adress г.Санкт-Петербург, ул.Большая Конюшенная 19/8
                        p.footer-content__left-contact Тел.:+7(812) 555-66-66
                  .footer-content__middle
                    .footer-content__middle-contain
                      p.footer-content__middle-title Давайте дружить!
                      .footer-content__middle-icons
                        ul.icons__list
                            li.icons-vk
                              a.vk(href='#') 
                            li.icons-fb
                              a.fb(href='#') 
                            li.icons-inst
                              a.inst(href='#') 
                  
                  
                  .footer-content__right
                    .footer-content__right-contain
                      .footer-right__containt-position
                        p.footer-content__right-developed Разработано:
                        p.footer-content__right-organization HTML ACADEMY


  
      
      script(src='static/js/libs.min.js')
      script(src='static/js/navigation.js')
      script(src='static/js/popup.js')
      script(src='static/js/main.js')
     
      
      







  






     


       
