@media screen and (max-width: 1200px){ //desctop
    .container{
        width: 970px;
    }
    .content-piscture{
       
        background-repeat: repeat-y;
        
        }
        .footer-content__right-developed {
       
            width: 70%;
        }
    .news-content__top-left{
        width: 20%; 
        height: 0;
        border-top: 100px  solid  #161a1f;
        border-left: 590px solid transparent;
        
        
    }
    .news-content__top-right{
        width: 50%; 
        height: 0;
        border-top:  100px solid #161a1f;;
        border-right: 590px solid transparent;
    }
    
    .logo-position{
        height: 65%;
    }
    
    .main__number {
      
        font-size: 60px;
        
    }

    .slider__img {
        width: 135px;
        height: 90px;
    }

    .slider__description {
        width: 40%;
        font-size: 14px;
       }
       .slider-img__description {
       height: 90px;
       }
       .slider__description-content {
        width: 80%;
    }

    .slider__left-button,.slider__right-button {
        
        width: 30px;
        
    }
    .footer-content__middle-icons {
        margin-top: 21px;
        
    }
   

    .pop-up{
    left: 50%;
    bottom: -45%;
    width: 245px;
    height: 400px;
    }
    .form-row input[type="submit"] {
        width: 200px;
        padding: 5px 9px;
        
    }
    
    .close-popup:before ,.close-popup:after{
        width: 20px;
    }
}



@media screen and (max-width: 992px){ //laptop
    .container{
        width: 750px;
    }
    
    
    .footer-content__right-developed {
       
        width: 70%;
    }
    .content-piscture{
       
        background-repeat: repeat-y;
        }
    .news-content__top-left{
        width: 20%; 
        height: 0;
        border-top: 100px  solid  #161a1f;
        border-left: 490px solid transparent;
        
        
    }
    .news-content__top-right{
        width: 50%; 
        height: 0;
        border-top:  100px solid #161a1f;;
        border-right: 490px solid transparent;
    }
    
    .logo-position{
        height: 55%;
    }
    
    .main__number {
      
        font-size: 40px;
        
    }

    .main-text__black {
        width: 170px;
        padding-left: 10px;
        font-size: 13px;
        font-family: "ptSans";
    }
    .news-content__calendar-one, .news-content__calendar-two, .news-content__calendar-three {
        width: 40px;
        height: 40px;
    }
    
    .news-calendar-one__triangle, .news-calendar-two__triangle, .news-calendar-three__triangle {
       
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
    }

    .news-calendar__one-number, .news-calendar__second-number, .news-calendar__third-number {
        
        font-size: 12px;
    }

    .news-calendar__month {
        
        font-size: 12px;
    }

    .main__haircut__block {
        height: 50%;
        
    }
    .main__haircut,.main__man-statics,.main__data-false {
        width: 210px;
       
    }

    .main__haircut{
        font-size: 25px;
    }
    .main__man-statics,.main__data-false{
        font-size: 15px;
    }
    .main-cost, .main-time,.main-counthair,.main-likes {
        
        width: 85%;
    }
    .main__number{
        font-size: 40px;
    }

    li.header-nav a {
        font-size: 15px;
    
    }

    .slider__img {
        width: 135px;
        height: 90px;
    }

    .slider__description {
        width: 40%;
        font-size: 13px;
       }
       .slider-img__description {
       height: 90px;
       }
       .slider__description-content {
        width: 80%;
    }

    .slider__left-button,.slider__right-button {
        
        width: 30px;
        
    }
}

@media screen and (max-width: 768px){ //tablets
    .container{
        width: 480px;
    }
    .pop-up{
        left: 50%;
        bottom: -40%;
        width: 245px;
        height: 400px;
        }
        .form-row input[type="submit"] {
            width: 200px;
            padding: 5px 9px;
            
        }
        
        .close-popup:before ,.close-popup:after{
            width: 20px;
        }
        


    .news-content__bottom-left, .news-content__bottom-middle, .news-content__bottom-right {
        height: 165px;
    }
    .footer-content__right-developed {
       
        width: 70%;
    }
    .content-piscture{
       
        background-repeat: repeat-y;
        }
    .header__list {
     
        flex-direction: column;
        align-items: center;
        height: 150px;
        
    }
   


      .news-content__top-left{
        width: 20%; 
        height: 0;
        border-top: 80px  solid  #161a1f;
        border-left: 375px solid transparent;
        
        
    }
    .news-content__top-right{
        width: 50%; 
        height: 0;
        border-top:  80px solid #161a1f;;
        border-right: 375px solid transparent;
    }

    

    .main-description__logo {
        
        font-size: 12px;
    }

    .logo-position {
        height: 45%;
    }
    .main-content__bottom-left, .main-content__bottom-middle, .main-content__bottom-right {
        
        width: 33%;
        
    }
    .fast-pict, .cool-pict, .expensive-pict {
        width: 70px;
        height: 70px;
    }
    .news-content__bottom {
        
         flex-direction: column;
         align-items: center;
        
    }
    .news-content__title {
        font-size: 30px;
     
    }
    .news-content__middle-right {
       
        justify-content: flex-start;
       
    }
    .news-content__middle {
        flex-direction: column;
    }
    .main__haircut {
        font-size: 20px;
    }
    .main__text p {
        font-size: 15px;
    }
    .main__number {
        font-size: 27px;
    }
    .main__man-statics, .main__data-false {
        font-size: 12px;
    }

    .main-content__top-position,.main-counthair {
        
        font-size: 16px;
        
    }
    .main__haircut, .main__man-statics, .main__data-false {
        width: 135px;
    }
    .main-cost, .main-time, .main-counthair, .main-likes {
        width: 70%;
    }
    .main__haircut__block {
        height: 35%;
    }
    .main__haircut__block {
        height: 34%;
        flex-direction: column;
        align-items: center;
    }

    .comments-content__selfs-link {
        display: flex;
        align-items: center;
        
    }

    .comments-content__about-title {
        font-size: 35px;
    }

    .slider__img {
        width: 110px;
        height: 70px;
    }

    .slider__description {
        width: 50%;
        height: 70px;
        font-size: 14px;
       }
       .slider-img__description {
       height: 70px;
       }
       .slider__description-content {
        width: 75%;
    }

    .slider__left-button,.slider__right-button {
        
        width: 20px;
        
    }
    .slider-content__middle {
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        
    }
    .footer-content__left-name, .footer-content__left-contact, .footer-content__left-adress, .footer-content__left-contact, .footer-content__right, .footer-content__middle-title {
        
        font-size: 12px;
        
    }

    .footer-content__right-developed {
       
        width: 70%;
    }
    .slider-content__middle {
        display: flex;
        /* justify-content: space-around; */
        width: 92%;
    }
    .footer-content__middle-contain {
      
        text-align: center;
        
    }

    nav {
        display: none;
        min-height: 1px;
       
    }
    // nav {
    //     display: flex;
    //     flex-direction: column;
    // }
    .touch-menu {
        display: flex;
        justify-content: center;
    }
    .menu {
        height: 70px;
        
    }
    .line-vert{
    transform: rotate(270deg);
}
    .touch-menu_active span::before {
        width: 10px;
        transform: rotate(35deg);
        transform-origin: top left;
    }
    .touch-menu_active span::after {
        width: 10px;
        transform: rotate(-35deg);
        transform-origin: top left;
    }

    
}

@media screen and (max-width: 480px){ //phones
    .container{
        width: 95%;
    }
    .content-piscture{
       background-size: contain;
        background-repeat: no-repeat;
        }

        
    .pop-up{
        left: 50%;
        bottom: -40%;
        width: 245px;
        height: 400px;
        }
    
    .slider__img {
        width: 110px;
        height: 70px;
    }

    .slider__description {
        width: 38%;
        height: 70px;
        font-size: 11px;
        justify-content: center;
        // align-items: flex-start;
       }
       .slider-img__description {
       height: 70px;
       
     
       }
       .slider__description-content {
        width: 55%;
    }

    .slider__left-button,.slider__right-button {
        
        width: 20px;
        
    }
    .slider-content__middle {
        display: flex;
        
        width: 1%;
    }
    .slider-content__middle {
        
        width: 90%;
  
    }

    .comments-content__about-title {
        font-size: 28px;
    }

    .footer-content__middle-contain {
      
        text-align: center;
        
    }
    .footer-content__left {
       
        min-width: 33%;
    }
    .footer-content__right {
        min-width: 33%;
    }
    .footer-content__right-developed {
        
        width: 70%;
    }
    .bottom-switch__left, .bottom-switch__middle, .bottom-switch__right {
        width: 5px;
        height: 5px;
    }
    .comments-bottom__switch {
     
        width: 70px;
     
    }
    .footer-content__left-name, .footer-content__left-contact, .footer-content__left-adress, .footer-content__left-contact, .footer-content__right, .footer-content__middle-title {
        font-size: 9px;
    }
    .news-content__title {
        font-size: 23px;
    }
    .main__number {
        font-size: 20px;
    }
    .main-content__top-position, .main-counthair {
        font-size: 13px;
    }
    .news-content__top-left{
        width: 20%; 
        height: 0;
        border-top: 70px  solid  #161a1f;
        border-left: 205px solid transparent;
        
        
    }
    .news-content__top-right{
        width: 50%; 
        height: 0;
        border-top:  70px solid #161a1f;;
        border-right: 205px solid transparent;
    }
    .logo-position {
        display: flex;
        
        height: 35%;
        justify-content: center;
        align-items: center;
    }
    .main-content__top-left, .main-content__top-middle, .main-content__top-right {
       
        height: 280px;
    }

    .content-piscture{
       
        background-repeat: repeat-y;
        }
        .logo {
            height: 80%;
         
        }
        .footer-content__middle-icons {
            margin-top: 8px;
            
        }
        .footer-content__right-organization{
            margin-top: 17px;
        }
        .main-content__top-position, .main-counthair {
            font-size: 12px;
        }
        .main__haircut, .main__man-statics, .main__data-false {
            width: 153px;
        }
        .main__man-statics, .main__data-false {
            font-size: 12px;
        }
       
        .main-logo__fast, .main-logo__cool, .main-logo__expensive {
            
            height: 140px;
        }
        
        .news-content__bottom-left, .news-content__bottom-middle, .news-content__bottom-right {
            height: 145px;
        }
        
}

