ul,li,input {
    margin: 0;
    padding: 0;
}
.section-form{
    background: #f8f5f2;
}
ul.check-icon   {
    justify-content: space-around;
}
.form-main {
    width: 100%;
    
}

.form-main__capture{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.form-hair {
    display: flex;
    
    height: 80px;
    align-items: center;
    justify-content: center;
}
h1.form-writeable{
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    
    
}

.content-piscture__form{
    clip-path: 
    polygon(
        0% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 70%, 50% 95%, 0% 70%, 0 95%      
    );
}
.form-to{
    display: flex;
    width: 200px;
    height: 80px;
    align-items: center;
    justify-content: center;
    
}
.form-link{
    height: 40px;
    width: 100%;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    border: 1px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-to__main{
    height: 90%;
    display: block;
    text-decoration: none;
    color: #000;
}

.form-to__main:hover{
    color:#826550;
}
input[type=text] {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    transition: .3s;
   
    border:2px solid #aaa;
    border-radius: 4px;
    
}



input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}



input[placeholder]          { text-overflow:ellipsis; }
input::-moz-placeholder     { text-overflow:ellipsis; } 
input:-moz-placeholder      { text-overflow:ellipsis; } 
input:-ms-input-placeholder { text-overflow:ellipsis; } 




input[type="text"]::placeholder{
    color:#c1c1c1;
    padding: 0;
}

input[type="text"][placeholder]          {text-overflow:ellipsis;}
input[type="text"]::-moz-placeholder     {text-overflow:ellipsis;} 
input[type="text"]:-moz-placeholder      {text-overflow:ellipsis;} 
input[type="text"]:-ms-input-placeholder {text-overflow:ellipsis;} 


input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }
input[type="text"]:focus::-moz-placeholder          { color: transparent; }
input[type="text"]:focus:-moz-placeholder           { color: transparent; }
input[type="text"]:focus:-ms-input-placeholder      { color: transparent; }

input[type="text"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}






.form-main__data,.form-contact__data {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

input.name,input.surname,input.patronymic {
    
    height: 70px;
    width: 300px;
}

input.phone,input.mail {
    width: 550px;
    height: 70px;
}


.form-text__data{
    width: 100%;
    height: 250px;
}

textarea.message{
    width: 1170px;;
    height: 200px;
    resize: none;
   outline: none;
    box-sizing: border-box;
    padding: 8px;
    transition: .3s;

    border:2px solid #aaa;
    border-radius: 4px;
}

textarea:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

textarea::placeholder{
    outline:none;
    color:#c1c1c1;
    padding: 0;
    
}

textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus::-moz-placeholder          { color: transparent; }
textarea:focus:-moz-placeholder           { color: transparent; }
textarea:focus:-ms-input-placeholder      { color: transparent; }

textarea[placeholder]          {text-overflow:ellipsis;}
textarea::-moz-placeholder     {text-overflow:ellipsis;} 
textarea:-moz-placeholder      {text-overflow:ellipsis;} 
textarea:-ms-input-placeholder {text-overflow:ellipsis;} 

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.beard,.additional-services{margin:0 auto;text-align:center;width:100%;font-weight: 100;} /*если нужно центровать */
.lntxt {overflow:hidden}
.lntxt:before,.lndot:after ,.lndot:before,.lntxt:after{
  content:'';display:inline-block;vertical-align:middle;
  box-sizing:border-box;width:100%;height:2px;
  background:#e5ddd5; 
  border:solid #e5ddd5;
  border-width:0 .5em 0;
}
.lntxt:before {margin-left:-100%}
.lntxt:after {margin-right:-100%}

